<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./Tests/bootstrap.php"
        >
    <testsuites>
        <testsuite name="Resource Framework Test Suite">
            <directory suffix="Test.php">./Tests</directory>
            <exclude>./Tests/Resources/BaseResourceTest.php</exclude>
            <exclude>./Tests/Integration</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Resources/</directory>
            <exclude>./Tests/Resources/BaseResourceTest.php</exclude>
        </whitelist>
    </filter>

   <!--   <logging>
        <log type="coverage-html" target="/Users/zhuoyinie/Documents/iFormBuilder_unittest" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="/Users/zhuoyinie/Documents/iFormBuilder_unittest"/>
    </logging>
    -->
    <logging>
        <log type="coverage-clover" target="/Users/zhuoyinie/git/iFormBuilderAPI-v60/Iform/build/build/logs/clover.xml"/>
    </logging>
    

</phpunit>